@media (max-width: 500px) {
    body{
      font-size: 10px;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    body{
      font-size: 12px;
    }
}

@media (min-width: 769px) {
    body{font-size: 14px;}
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

#divAbout{
  color: #777;
  background-color:white;
  text-align:center;
  padding:0.5em 0.8em;
  text-align: justify;
  align:center;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  /*opacity: 0.65;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("images/dark_wooden_1.jpg");
  min-height: 100%;
  opacity: 0.70;
}

.bgimg-2 {
  background-image: url("images/dark_wooden_2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("images/dark_wooden_3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

#imgProfilePic{
  width: 40vmin;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

#gotoPosts{
  display: block;
  position: fixed;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  right: 1em;
  top: 1em;
  background: linear-gradient(gray, black);
}
